{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div class="p-3">Мое имя - {{ name }}</div>
            <div class="p-3">Обо мне - {{ info }}</div>
            <div class="p-3">
                <a href="{{ git }}">Ссылка на гитлаб</a>
            </div>
        </div>
    </div>

{% endblock %}
