{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% for article in articles %}
            <div class="container ">
                <div class="card mt-3">
                    <div class="row mt-3 mb-3">
                        <div class="col-3">
                            <div class="w-75 mw-75 container">
                                <img src="uploads/images/articles/{{ article.image }}" class="card-img-top rounded" alt="img here">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <h5 class="card-title">{{ article.name }}</h5>
                            </div>
                            <div class="row">
                                <span class="card-text">{{ article.shortret }}</span>
                            </div>
                            <div class="row">
                                <div class="">
                                    <a href="{{ path('article_detail', {'id':article.id}) }}" class="btn btn-primary">Читать</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <span class="card-date">{{ article.date|date('d.m.Y') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}
