<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flm's CMS{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap/css/bootstrap.min.css') }}">

        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">flm's notebook</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('main') }}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">Об авторе</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if not app.user %}
            <a href="{{ path('app_register') }}">
                <button class="btn btn-outline-success" type="submit">Регистрация</button>
            </a>
            <a href="{{ path('app_login') }}">
                <button class="btn btn-outline-success" type="submit">Вход</button>
            </a>
        {% endif %}
        {% if app.user %}
            <a href="{{ path('admin') }}">
                <button class="btn btn-outline-success" type="submit">Админка</button>
            </a>
            <a href="{{ path('app_logout') }}">
                <button class="btn btn-outline-success" type="submit">Выход</button>
            </a>
        {% endif %}
    </nav>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('assets/framework/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
