{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ article.name }}</h1>
    <h3>{{ article.shortret }}</h3>
    <br>
    <h4>{{ article.text }}</h4>
    <br>
    <h5>{{ article.image }}</h5>
    <br>
    <h5>{{ article.date|date("d.m.Y") }}</h5>
    <br>
    <a href="{{ path('main') }}">Назад</a>
</div>
{% endblock %}
